:root {
  // themes color
  --color-primary: #035427;
  --hov-color-primary: #006b30;
  --color-secondary: #898989;
  --color-warning: #ffd602;
}

@mixin theme($theme: var(--color-primary)) {
  background-color: $theme !important;
  border-color: $theme !important;
  box-shadow: none !important;
}

$border-radius: 20px;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

body {
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Prompt', sans-serif;
  font-weight: 100;

  .btn {
    border-radius: calc($border-radius / 2);
  }

  .bg-primary {
    background-color: var(--color-primary) !important;
  }

  .btn-primary,
  .btn-outline-primary:hover,
  .btn-outline-primary:active {
    @include theme;
  }

  .btn-primary:hover {
    @include theme($theme: var(--hov-color-primary));
  }

  .btn-outline-primary {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary) !important;
  }

  .bg-secondary {
    background-color: var(--color-secondary) !important;
  }

  .btn-secondary {
    @include theme($theme: var(--color-secondary));
  }

  .text-secondary {
    color: var(--color-secondary) !important;
  }

  .btn-warning {
    @include theme($theme: var(--color-warning));
  }

  .text-warning {
    color: var(--color-warning) !important;
  }

  .card-body {
    a {
      text-decoration: none;
    }
  }

  .h1,
  h1 {
    font-size: 2.5em;

    @include lt-md {
      font-size: 2.2em;
    }
  }

  .h2,
  h2 {
    font-size: 2em;

    @include lt-md {
      font-size: 1.7em;
    }
  }

  .h3,
  h3 {
    font-size: 1.75em;

    @include lt-md {
      font-size: 1.45em;
    }
  }

  .h4,
  h4 {
    font-size: 1.5em;

    @include lt-md {
      font-size: 1.2em;
    }
  }

  .h5,
  h5 {
    font-size: 1.25em;

    @include lt-md {
      font-size: 1em;
    }
  }

  .h6,
  h6 {
    font-size: 1em;

    @include lt-md {
      font-size: 0.8em;
    }
  }

  .opacity-06 {
    opacity: .6;
  }

  .h-head {
    position: relative;
    padding-bottom: 12px;
    display: block;
    max-width: max-content;

    &::after {
      content: "";
      left: 0px;
      position: absolute;
      width: 100px;
      border-top: 1px solid #000;
      bottom: 0px;
      max-width: 50%;
      min-width: 50px;
    }

    &.text-center {
      margin-left: auto;
      margin-right: auto;

      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &.text-white::after {
      border-top-color: #fff;
    }
  }

  .text-center .h-head {
    display: table;
    margin-left: auto;
    margin-right: auto;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .fancybox-container {
    .fancybox-bg {
      background: rgba(45, 48, 56, .79);
    }

    .fancybox-content {
      border-radius: $border-radius;

      button[data-fancybox-close].fancybox-button {
        background-color: #000000;
        margin: 10px;
        padding: 4px;
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }

  .box-slide {
    overflow: hidden;

    .arrow-default {
      display: flex;
      margin-left: auto;
      margin-right: 30px;
      align-items: center;

      @include lt-md {
        order: 1;
        margin-right: 0px;
        margin-top: 15px;
      }

      @include xs {
        margin-right: auto;
        width: 100%;

        & + a {
          margin-top: -47px;
        }
      }

      .o-prev,
      .o-next {
        border: 1px solid #727a6b;
        color: #727a6b;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        width: 38px;
        border-radius: 50%;
        margin: 0px 5px;
        cursor: pointer;

        span {
          margin-top: 0px;
        }
      }

      .o-prev {
        border-color: #c5c5c5;
        color: #c5c5c5;

        span {
          transform: rotateY(-180deg);
        }
      }
    }

    .owl-dots {
      margin: 5px auto;
      display: flex;

      .owl-dot {
        margin: 2px 5px;
        border-radius: 50%;
        background-color: #d9d9d9;
        transition: .5s;
        aspect-ratio: 1;
        border: none;
        padding: 0px;
        background-clip: content-box;
        width: 11px;
        outline: none;

        &.active {
          padding: 2px;
        }
      }
    }

    .owl-carousel[data-dots="false"] .owl-dots {
      display: none;
    }
  }

  @mixin text-line($row: 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $row;
  }

  .text-line1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-line2 {
    @include text-line($row: 2);
  }

  .text-line3 {
    @include text-line($row: 3);
  }

  .text-line4 {
    @include text-line($row: 4);
  }

  .text-line5 {
    @include text-line($row: 5);
  }
}

.box-information {
  display: flex;
  align-items: center;
  color: #999999;
  margin-bottom: 12px;
  font-size: 0.7em;

  .b-calendar,
  .b-visibility,
  .b-share {
    span.material-symbols-outlined {
      font-size: 15px;
      margin-right: 5px;
      vertical-align: sub;
    }
  }
}