:root {
  // themes color
  --color-primary: #035427;
  --hov-color-primary: #006b30;
  --color-secondary: #898989;
  --color-warning: #ffd602;
}

@mixin theme($theme: var(--color-primary)) {
  background-color: $theme !important;
  border-color: $theme !important;
  box-shadow: none !important;
}

$border-radius: 20px;

body {
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Prompt', sans-serif;
  font-weight: 100;

  button.btn {
    border-radius: calc($border-radius / 2);
  }

  .bg-primary {
    background-color: var(--color-primary) !important;
  }

  .btn-primary,
  .btn-outline-primary:hover,
  .btn-outline-primary:active {
    @include theme;
  }

  .btn-primary:hover {
    @include theme($theme: var(--hov-color-primary));
  }

  .btn-outline-primary {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-warning) !important;
  }

  .bg-secondary {
    background-color: var(--color-secondary) !important;
  }

  .btn-secondary {
    @include theme($theme: var(--color-secondary));
  }

  .text-secondary {
    color: var(--color-secondary) !important;
  }

  .btn-warning {
    @include theme($theme: var(--color-warning));
  }

  .text-warning {
    color: var(--color-warning) !important;
  }

  .card-body {
    a {
      text-decoration: none;
    }
  }

  .h1,
  h1 {
    font-size: 2.5em
  }

  .h2,
  h2 {
    font-size: 2em
  }

  .h3,
  h3 {
    font-size: 1.75em
  }

  .h4,
  h4 {
    font-size: 1.5em
  }

  .h5,
  h5 {
    font-size: 1.25em;
  }

  .h6,
  h6 {
    font-size: 1em;
  }

  .h-head {
    position: relative;
    padding-bottom: 5px;

    &::after {
      content: "";
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 100px;
      border-top: 1px solid #000;
      bottom: 0px;
    }
  }

  .fancybox-container {
    .fancybox-bg {
      background: rgba(45, 48, 56, .79);
    }

    .fancybox-content {
      border-radius: $border-radius;

      button[data-fancybox-close].fancybox-button {
        background-color: #000000;
        margin: 10px;
        padding: 4px;
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }

  footer {
    background: #000;
    color: #fff;
  }
}