.box-biodiversity {
  background: #0b5e39 url(../images/bg-biodiversity.png) no-repeat center;
  background-size: cover;
  color: #fff;

  .list-biodiversity {
    margin-top: 30px;

    a {
      text-decoration: none;
      transition: .5s;
      display: block;

      &:hover {
        transform: scale(1.1);
      }
    }

    .h-head {
      padding-bottom: 13px;

      img {
        vertical-align: baseline;
      }

      &::after {
        border-top: 2px solid rgba(255, 255, 255, .43);
        width: 40px;
      }
    }

    h1 {
      color: var(--color-warning);
      font-size: 3em;
      margin-bottom: 0px;
    }
  }
  & + section.py-md-5 {
    padding-bottom: 40px !important;
  }
}

.box-Service-channels {
  background: #0b5e39 url(../images/bg-Service-channels.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .box-social {
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-flow: wrap;

    a {
      margin: 15px;

      img {
        display: block;
        margin: auto;
        margin-bottom: 10px;
        width: 50px;
        transition: transform .8s ease;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }
}

.box-multimedia {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background-color: #f7f7f7;
    position: absolute;
    inset: 0 auto 4% 0;
    width: 60%;
    z-index: -1;

    @include sm {
      width: 72%;
    }

    @include xs {
      width: 100%;
      inset: 0;
    }
  }

  .box-list-multimedia {
    .owl-nav {
      button {
        position: absolute;
        height: calc(100% - 10px);
        width: calc(50vw - 50%);
        top: 0px;
        opacity: 0;

        &.owl-prev {
          right: 100%;
        }

        &.owl-next {
          left: 100%;
        }
      }
    }

    .owl-stage-outer {
      @include gt-xs {
        overflow: visible !important;
      }

      .owl-item.active {
        .card {
          transform: scale(1);
          transform-origin: center;
          margin-top: 0px;

          .card-body {
            .box-text {
              opacity: 1;
            }
          }
        }

        &+.owl-item {
          .card {
            transform-origin: left;
          }
        }
      }

      .card {
        @include xs {
          padding-left: 0px;
          padding-right: 0px;
        }

        @include gt-xs {
          transform: scale(0.8);
          transform-origin: right;
          transition: .5s;
          margin-top: -7px;
        }

        .card-body {
          @include xs {
            padding-left: 3px;
            padding-right: 3px;
          }

          .box-text {
            opacity: 0;

            h5 {
              width: calc(45% + 10vw);

              @include sm {
                width: calc(62% + 10vw);
              }

              @include xs {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}