.owl-carousel {

  &.box-list-article {
    width: calc(100% + 50px);
    margin-left: -25px;
    margin-right: -25px;

    @include lt-md {
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}


.box-list-interesting {
  &.owl-carousel {
    padding-left: 15px;

    @include lt-md {
      padding-left: 0px;
    }

    &::before {
      content: "";
      position: absolute;
      height: calc(100% - 40px);
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      border-left: 1px solid #dbdbdb;

      @include lt-md {
        display: none;
      }
    }
  }

  .owl-stage {
    display: flex;
    flex-flow: wrap;

    .owl-item.active+.active {
      .card::before {
        display: block;
      }
    }
  }

  .card {
    padding: 25px;
    background-clip: content-box;
    height: 100%;
    border-radius: 0px;
    border: 0px;
    overflow: hidden;

    .card-body {
      padding: 0px;
      border-radius: 0px;
      background-color: #fff;

      .img {
        overflow: hidden;
        margin: auto;
        display: table;
        margin-bottom: 20px;

        img {
          max-width: 100%;
          transition: transform .8s ease;
          aspect-ratio: 100/130;
          object-fit: cover;
        }

        &:hover img {
          transform: scale(1.1);
        }
      }
    }
  }

  .card-footer {
    padding: 15px;
    border: 0;
    display: block;
  }

  a {
    color: #333333;
    text-decoration: none !important;
  }

  .b-list {
    padding: 20px 10px;
    border-top: 1px solid #dbdbdb;

    @include gt-lg {
      padding-left: 50px;
      padding-right: 20px;
    }

    &:first-child {
      border-top: none;
    }

    .img {
      overflow: hidden;
      position: relative;

      img {
        display: block;
        width: 100%;
        transition: transform .8s ease;
        aspect-ratio: 100/130;
        object-fit: cover;
      }

      &:hover img {
        transform: scale(1.1);
      }

      .box-text {
        padding: 20px 15px 0px 15px;

        h6 {
          margin-bottom: 17px;
        }
      }
    }
  }
}

.owl-carousel {
  @include lt-md {
    &.box-list-interesting {
      width: calc(100% + 20px);
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

.box-list-article {
  .owl-stage {
    display: flex;
    flex-flow: wrap;

    .owl-item {
      .card::before {
        display: none;
        height: calc(100% - 150px);
      }

      &.active+.active {
        .card::before {
          display: block;
        }
      }
    }
  }

  .card {
    padding: 25px;
    background-clip: content-box;
    height: 100%;
    border-radius: 0px;
    border: 0px;
    overflow: hidden;

    @include lt-md {
      padding-left: 15px;
      padding-right: 15px;
    }

    &::before {
      content: "";
      height: calc(100% - 50px);
      border-left: 1px solid rgb(0 0 0 / 13%);
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);

      @include lt-md {
        display: none;
      }
    }

    &:nth-child(odd)::before {
      display: none;
    }

    .card-body {
      padding: 0px;
      border-radius: 0px;
      background-color: #fff;

      .img {
        overflow: hidden;
        position: relative;

        img {
          display: block;
          width: 100%;
          transition: transform .8s ease;
          aspect-ratio: 100/67;
          object-fit: cover;
        }

        &:hover img {
          transform: scale(1.1);
        }
      }

      .box-text {
        padding: 20px 15px 0px 15px;

        h6 {
          margin-bottom: 17px;
        }
      }

    }

    .card-footer {
      padding: 15px;
      border: 0;
      display: block;
    }
  }

  a {
    color: #333333;
  }
}

.owl-carousel {
  &.box-list-activity {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;

    @include lt-md {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

.box-list-activity {
  .owl-stage-outer {
    padding: 30px 0px;

    .owl-item {
      .card {
        .img {
          opacity: 0;
        }

        .box-text {
          left: 60px;
        }
      }

      &.active {
        .box-text {
          left: 15px;
        }

        .img {
          opacity: 1;
        }
      }
    }
  }

  .card {
    border: none;
    margin-top: 40px;

    &:first-child {
      margin-top: 15px;
    }

    &:nth-child(even) {
      .card-body {
        .img {
          margin-left: 0px;
          margin-right: auto;
        }

        .box-text {
          left: auto;
          right: 15px;
        }
      }
    }

    @include lt-md {
      padding-left: 0px;
      padding-right: 0px;
    }

    .card-body {
      padding: 0px;
      border-radius: 0px;
      background-color: #fff;

      a {
        display: block;
      }

      .img {
        overflow: hidden;
        position: relative;
        width: 60%;
        margin-left: auto;
        border-radius: $border-radius;
        transition: 1s;

        @include lt-md {
          width: 100%;
        }

        img {
          display: block;
          width: 100%;
          transition: transform .8s ease;
          aspect-ratio: 100/62;
          object-fit: cover;

          @include md {
            aspect-ratio: 100 / 83;
          }

          @include xs {
            aspect-ratio: 100 / 67;
          }
        }

        &:hover img {
          transform: scale(1.1);
        }
      }

      .box-text {
        position: absolute;
        z-index: 1;
        left: 15px;
        transition: .8s;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        color: #fff;

        @include lt-md {
          width: 100%;
          position: relative;
          margin-top: -30px;
          top: auto;
          left: 50% !important;
          transform: translateX(-50%);
        }

        .b-text {
          background-color: rgb(0 0 0 / 50%);
          padding: 30px;
          border-radius: $border-radius;
          overflow: hidden;

          @include lt-md {
            background-color: transparent;
          }

          &::after {
            content: "";
            background-color: var(--color-primary);
            position: absolute;
            inset: 0;
            z-index: -1;
            opacity: .6;
            border-radius: $border-radius;

            @include lt-md {
              background: linear-gradient(to bottom, #4d7462 0%, #30473d 100%);
              opacity: 1;
            }
          }

          .box-information {
            color: #fff;
          }

          h6 {
            margin-bottom: 17px;
          }

          .btn-primary {
            background-color: #0d8953 !important;
            border: none;
          }
        }
      }
    }
  }
}

.box-variety {
  .box-list {
    .card {
      padding: 20px;
      background-clip: content-box;
      height: 100%;
      border-radius: 0px;
      border: 0px;
      overflow: hidden;
      background-color: transparent;

      @include lg {
        padding: 12px;
      }

      @include lt-lg {
        padding: 10px;
      }

      a {
        color: #000;
      }

      .card-body {
        padding: 0px;
        border-radius: 0px;

        .img {
          overflow: hidden;
          margin: auto;
          display: table;
          margin-bottom: 20px;
          border-radius: calc($border-radius / 2);

          img {
            max-width: 100%;
            transition: transform .8s ease;
            aspect-ratio: 100/130;
            object-fit: cover;
          }

          &:hover img {
            transform: scale(1.1);
          }
        }

        .box-text {
          padding: 0px 15px;

          @include lt-xl {
            padding: 0px;
          }
        }
      }
    }
  }
}

.box-list-multimedia {
  .card {
    background-color: transparent;
    border: none;

    @include xs {
      padding: 0px;
    }

    .card-body {
      @include xs {
        padding-left: 0px;
        padding-right: 0px;
      }

      iframe,
      video,
      img {
        width: 100%;
        aspect-ratio: 100/55;
        background-color: #000;
        display: block;
        border: 0px;
      }

      .box-text {
        margin-top: 15px;

        @include xs {
          padding: 0px 20px;
        }

        h5 {
          width: 100%;
        }
      }

      a {
        color: #333;
      }
    }
  }
}