.box-list-article {
  .owl-stage {
    display: flex;
    flex-flow: wrap;

    .owl-item.active+.active {
      .card::before {
        display: block;
      }
    }
  }

  .card {
    padding: 25px;
    background-clip: content-box;
    height: 100%;
    border-radius: 0px;
    border: 0px;
    overflow: hidden;

    &::before {
      content: "";
      height: calc(100% - 150px);
      border-left: 1px solid rgb(0 0 0 / 13%);
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
    }

    .card-body {
      padding: 0px;
      border-radius: 0px;
      background-color: #fff;

      .img {
        overflow: hidden;
        position: relative;
      }

      img {
        display: block;
        width: 100%;
        transition: transform .8s ease;
        aspect-ratio: 100/67;
      }

      &:hover img {
        transform: scale(1.1);
      }

      .box-text {
        padding: 20px 15px 0px 15px;

        h6 {
          margin-bottom: 17px;
        }

        span {
          display: block;
          color: #757575;
          width: 100%;
        }
      }
    }

    .card-footer {
      padding: 15px;
      border: 0;
      display: block;
    }
  }

  a {
    color: #333333;
  }
}